body{
    background: rgb(112, 15, 15);
    padding-top: 15px;
    padding-bottom: 10px;

}

.titre {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    color: black;
    background: rgb(173, 216, 230);
    margin: 15px;
    margin-bottom: 40px;
    padding: 5px;
    
    
}

.intro {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;

    text-align: center;
    font-size: 20px;
    background: white;
    margin: 15px;
    margin-bottom: 40px;
    padding: 15px;

}

.liste{    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    background: rgb(255, 255, 255);
    font-size: 25px;
    color: rgb(71, 0, 35);
    margin: 35px auto;
    width: 350px;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 30px;
    border: rgba(0, 0, 0, 0.521) 5px;
    border-style: double;
    
}

a {
    color: rgb(71, 0, 35);
}


.hat{

    width: 100px;
    margin: auto;
    text-align: center;

}